.gold-animated-btn {
  transition: all 0.25s !important;
}

.gold-animated-btn:hover {
  border-color: gold !important;
  color: #f9f7f7;
  box-shadow: 0 0.5em 0.5em -0.4em gold;
  transform: translateY(-0.3em);
  cursor: pointer;
}