body {
  background-color: rgb(77, 77, 77); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(52, 52, 52), black);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

label {
  color:white;
}

input {
  background-color: white;
  border-color: rgb(179, 150, 14);
  margin-bottom: 1rem;
}

h1 {
  color: rgb(179, 150, 14);
}