.profile-image {
    max-height: 200px;
}

.modal {
    margin: 0;
    padding-left: 0;
}

.modal-dialog {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}
  
.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background-color: rgb(199, 199, 199) !important;
    opacity: 1;
}

.modal-backdrop {
    background-color: red;
}

.qr-modal-name {
    color: black;
    font-size: 2.5rem !important;
}

.qr-modal-link {
    display: inline-block;
    word-break: break-word;
    font-size: 1.5rem;
}

.qr-modal-link a {
    color: black;
}

.qr-code {
    min-height: 25vh;
}