.event-card {
    background: white;
    margin: 1rem;
    position: relative;
    width: 20rem;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    border-radius: 3%;
    float: left;
  }
  
  .event-card > .event-img-container {
    overflow: hidden;
    text-align: center;
    border-radius: 3%;
    background: rgb(202, 202, 195);
  }
  
  .event-card > .event-img-container > img {
    min-width: 100%;
  }
  
  .event-card > .event-content > ul {
    list-style-type: none;
    padding-inline-start: 25px;
    color: black;
  }

  .event-card label {
    color: black;
    font-weight: bold;
  }
  
  .modal {
    margin-top: 5rem;
  }

  .modal-content {
    background-color: rgb(77, 77, 77) !important;
  }

  .modal-text {
    color:rgb(230, 230, 230) !important;
  }

  .end-hidden, .details-hidden {
    display: none !important;
  }

  .event-stats-modal {
    margin-top: 2rem;
    max-height: 90vh;
  }
  
  @media (max-width: 600px){

    .event-card {
      width: 13rem;
    }


  }