.event-card {
    background: rgb(179, 150, 14);
    margin: 1rem;
    position: relative;
    width: 15rem;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    border-radius: 3%;
    float: left;
  }
  
  .event-card > .event-img-container {
    overflow: hidden;
    text-align: center;
    border-radius: 3%;
    background: rgb(202, 202, 195);
  }
  
  .event-card > .event-img-container > img {
    min-width: 100%;
  }
  
  .event-card > .event-content > ul {
    font-size: 20px;
    text-align: left;
    list-style-type: none;
    padding-inline-start: 25px;
    color: black;
  }
  