.landing-page {
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1559564426-013d071f49a9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80") no-repeat center center fixed;
    background-size: cover;
    padding: 4rem;
}

.hide-overflow {
    overflow: hidden;
}

.landing-logo {
    position: relative;
    animation-name: landinglogomove;
    animation-duration: 3s;
}

@keyframes landinglogomove {
    0% {top: 0px; opacity: 0; z-index: 10;}
    40% {top: 10%; opacity: 1; height: 500px; width: 500px; z-index: 10; transform:rotate(0deg);}
    45% {transform: rotate(45deg);}
    50% {transform:rotate(-1deg);}
    55% {transform:rotate(45deg);}
    60% {transform:rotate(0deg); top: 10%; opacity: 1; height: 500px; width: 500px;}
    100% {top: 0px; opacity: 1; z-index: 10;}
}

.landing-content {
    animation-name: landingcontentappear;
    animation-duration: 5s;
}

@keyframes landingcontentappear {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.landing-top {
    margin-bottom: 3rem;
}

.landing-text {
    color: white;
    text-shadow: 1px 1px rgb(121, 100, 6);
}

.logo-text {
    color: rgb(179, 150, 14);
}

.login-button, .customer-text {
    margin-top: 3rem !important;
}

.landing-link {
    border-radius: 5px;
    color: rgb(179, 150, 14) !important;
    text-decoration: underline !important;
    text-shadow: none;
}

.landing-link:hover {
    color: rgb(240, 218, 123) !important;
    text-shadow: none;
}

@media (max-width: 600px){

    .landing-page {
        padding: 2rem !important;
    }

    .landing-logo {
        height: 150px !important;
        width: 150px !important;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    @keyframes landinglogomove {
        0% {top: 0px; opacity: 0; z-index: 10;}
        40% {top: 40%; opacity: 1; z-index: 10; transform:rotate(0deg);}
        45% {transform: rotate(45deg);}
        50% {transform:rotate(-1deg);}
        55% {transform:rotate(45deg);}
        60% {transform:rotate(0deg); top: 40%; opacity: 1; height: 500px; width: 500px;}
        100% {top: 0px; opacity: 1; z-index: 10;}
    }
}